*.iml
.gradle
/local.properties
/.idea/
.DS_Store
**/build
/captures
.externalNativeBuild
.cxx
local.properties
.vscode

app/debug/
app/release/

keys.properties
debug_keys.properties
keystore.properties
**.keystore
