*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/debug/
app/release/
.vscode
*/__pycache__/
server/*.json
venv/
server/pages/github-markdown-css/
server/pages/*.html
