*.iml
.gradle
/local.properties
/.idea/
/.fleet/
.DS_Store
**/build
/captures
.externalNativeBuild
.cxx
local.properties
.vscode
*.log
/.kotlin
/kotlin-js-store

app/debug/
app/release/

desktopApp/MediaDeviceSalts*

buildSrc/project_debug.properties
debug_keys.properties
androidApp/keystore.properties
androidApp/main.keystore
shared/src/commonMain/kotlin/test.kt
ytm-kt
