name: Android CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build debug APK
      run: ./gradlew packageDebug
    - name: Build release APK
      run: ./gradlew packageRelease

    - name: Upload universal debug APK artifact
      uses: actions/upload-artifact@v3
      with:
        name: androidApp-debug.apk
        path: androidApp/build/outputs/apk/debug/androidApp-debug.apk

    - name: Upload universal release APK artifact
      uses: actions/upload-artifact@v3
      with:
        name: androidApp-release.apk
        path: androidApp/build/outputs/apk/release/androidApp-release.apk
