name: Build [Windows]

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
    types: [opened, synchronize, reopened, ready_for_review]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    if: ${{ github.event.pull_request.draft == false && (github.event_name == 'workflow_dispatch' || !contains(github.event.head_commit.message, 'noci')) }}

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive

    - name: Set up JDKs
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: |
          22
          21

    - name: Download mpv
      run: curl -L https://downloads.sourceforge.net/project/mpv-player-windows/libmpv/mpv-dev-x86_64-20240114-git-bd35dc8.7z --output mpv.7z

    - name: Extract mpv
      shell: bash
      run: |
        "/c/Program Files/7-Zip/7z.exe" x mpv.7z -o"mpv"

    - name: Copy libmpv-2.dll
      run: xcopy /s /i /y "${{ github.workspace }}\mpv\libmpv-2.dll" "${{ github.workspace }}\desktopApp\build\package\windows\"

    - run: dir desktopApp\build\package\windows

    - name: Set up Gradle
      uses: gradle/gradle-build-action@v3

    - name: Build exe
      run: .\gradlew.bat desktopApp:packageReleaseExe

    - name: Upload exe artifact
      uses: actions/upload-artifact@v3
      with:
        name: spmp-windows-release
        path: desktopApp/build/compose/binaries/main-release/exe/*.exe
