name: Build [Windows]

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
    types: [opened, synchronize, reopened, ready_for_review]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    if: ${{ github.event.pull_request.draft == false && (github.event_name == 'workflow_dispatch' || !contains(github.event.head_commit.message, 'noci')) }}

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive

    - name: Set up JDK 22
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: |
          22
          21

    - name: Set up Gradle
      uses: gradle/gradle-build-action@v3

    - name: Build exe
      run: .\gradlew.bat desktopApp:packageReleaseExe

    - name: Upload exe artifact
      uses: actions/upload-artifact@v3
      with:
        name: spmp-windows-release
        path: desktopApp/build/compose/binaries/main-release/exe/*.exe
