name: Build [Windows]

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Build exe
      run: .\gradlew.bat desktopApp:packageReleaseExe

    - name: Upload exe artifact
      uses: actions/upload-artifact@v3
      with:
        name: spmp-windows-release.zip
        path: desktopApp/build/compose/binaries/main-release/exe/*.exe
